In [5]:
import pandas as pd

In [7]:
df=pd.read_csv(r'C:\Users\USER2018\Desktop\temp 1\BTC-USD.csv', sep=',', nrows=7)

In [8]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-07-03,19242.095703,19558.269531,18966.951172,19297.076172,19297.076172,16390821947
1,2022-07-04,19297.314453,20258.748047,19063.066406,20231.261719,20231.261719,21594638208
2,2022-07-05,20225.353516,20635.466797,19341.232422,20190.115234,20190.115234,26715546990
3,2022-07-06,20194.619141,20595.529297,19823.511719,20548.246094,20548.246094,24598943708
4,2022-07-07,20547.814453,21771.816406,20296.103516,21637.587891,21637.587891,25814972520

In [9]:
 df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
2,2022-07-05,20225.353516,20635.466797,19341.232422,20190.115234,20190.115234,26715546990
3,2022-07-06,20194.619141,20595.529297,19823.511719,20548.246094,20548.246094,24598943708
4,2022-07-07,20547.814453,21771.816406,20296.103516,21637.587891,21637.587891,25814972520
5,2022-07-08,21637.154297,22314.941406,21257.453125,21731.117188,21731.117188,49899834488
6,2022-07-09,21716.828125,21877.138672,21445.957031,21592.207031,21592.207031,29641127858